@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";
@theme {
  --color-white: #fbfbfa;
  --color-blueWhite: #ecf7fe;
  --color-red: #cd3034;
  --color-green: #123941;
  --font-heading: "Bebas Neue", sans-serif;
}
