
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Merienda:wght@300..900&family=Signika:wght@300..700&display=swap');
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3e688c;
  align-items: center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;