.swiper .swiper-slide {
  background-position: center;
  width: 500px;
}
.swiper-slide {
  transition: filter 0.3s ease;
  border-radius: 20px;
}
.swiper-slide:not(.swiper-slide-active) {
  filter: blur(2px);
}
.swiper-slide img {
  border-radius: inherit;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.swiper-pagination-bullet {
  background-color: #0f1c39;
}

.swiper-pagination-bullet-active {
  background-color: #0f1c39;
}

.swiper-button-next,
.swiper-button-prev {
  color: #dcf2f1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 40px;
  font-weight: bolder;
  color: inherit;
}
.swiper-heading {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
}
